@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

section {
    scroll-behavior: smooth;
}

.navbar-nav {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.header-content {
    height: 110vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8rem;
}

.social-btn {
    font-size: 2rem;

}

.book-now {
    color: white;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    font-style: italic;
    margin-top: 1rem;
    padding: 0.8rem;
}

.book-now:hover {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    color: black;
}









/*category css*/


.fashion-background,
.food-background,
.music-background,
.travel-background,
.sports-background,
.fitness-background {
    height: 70vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1596382941406-d743d70d5ed0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzaGlvbiUyMGJsb2dnZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
    background-attachment: fixed;
    background-size: cover;
    background-attachment: cover;
}

.food-background {
    background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
}

.music-background {
    background-image: url('https://images.ctfassets.net/3s5io6mnxfqz/4nflJRt3u1If9KTz22Z2SJ/61a4292ac326c5eca13857fbc10b4030/AdobeStock_185038897.jpeg');
}

.travel-background {
    background-image: url('https://wallpaperaccess.com/full/2028728.jpg');

}

.sports-background {
    background-image: url('https://i.pinimg.com/originals/bc/25/9c/bc259c123022ceb5e55ee47068b1ceab.jpg');
}

.fitness-background {
    background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
}





.display-box-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.individual-blog {
    width: 80%;
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    height: 70vh;
    overflow-y: scroll;
    word-wrap: break-word;
}

.blog-title {
    font-size: 3rem;
}

.blog-content {
    width: 80%;
    display: block;
    margin: 1.5rem auto;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}






.main-login-page {
    margin-top: 4rem;
    background-image: url('https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg');
    height: 100vh;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 1rem;
    padding: 2rem 0;
    padding-left: 6rem;
    padding-right: 4rem;

}

.dark-btn,
.light-btn {
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.light-btn {
    background-color: white;
    color: black;
}

.success-text {
    font-Family: 'Red Hat Display';
    margin-Top: "18px";
    letter-spacing: 2rem;
    font-Weight: "bold";
    font-size: 7rem;

}







/*media queries */

@media only screen and (min-width: 350px) and (max-width:900px) {

    .fashion-background,
    .food-background,
    .music-background,
    .travel-background,
    .sports-background,
    .fitness-background {
        width:100%;
        background-position: center;
    }

    .success-text {
        letter-spacing: 1rem;
        font-size: 3rem;
    }

    .book-now {
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .display-box-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .individual-blog {
        width: 80%;
        height: 60vh;

    }

    .blog-title {
        font-size: 1.5rem;
    }

    .blog-title>span {
        display: block;
        margin-top: 1rem;
    }

    .blog-content {
        width: 80%;
    }

    .blogs-image {
        width: 30vw;
        height: 32vh;
    }

    .main {
        width: 90%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .Light-form-page,
    .Dark-form-page {
        padding-left: 5rem;
    }
}




@media only screen and (min-width: 600px) and (max-width:900px) {

    .main {
        width: 80%;
        padding-left: 2rem;
    }

    .Light-form {
        padding-left: 6rem;

    }

    .aboutme-text {
        font-size: 1rem;
    }

    .contact-input {
        width: 80%;
    }

    body {
        background-size: contain;
    }

    .display-box-blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .individual-blog {
        width: 80%;
        height: 60vh;

    }

    .Light-form-page,
    .Dark-form-page {
        padding-left: 7rem;
    }

}


@media only screen and (min-width: 800px) and (max-width:1200px) {
    .Aboutme-main {
        margin: 6rem auto 3rem auto;
        width: 90%;
        height: 85vh;
    }

    .aboutme-text {
        font-size: 1rem;
    }

    .individual-blog {
        width: 80%;
        height: 60vh;

    }

    .blog-title {
        font-size: 1.5rem;
    }

    .blog-title>span {
        display: block;
        margin-top: 1rem;
    }

    .blog-content {
        width: 80%;
    }

    .blogs-image {
        width: 30vw;
        height: 32vh;
    }

    .Light-form-page,
    .Dark-form-page {
        padding-left: 6.5rem;
    }
}